rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Public visitors can read product photos
    match /products/{productId}/{allPaths=**} {
      allow read: if true;
      allow write, delete: if request.auth != null;
    }

    // Default match
    match /{allPaths=**} {
      allow read: if true;
      allow write, delete: if request.auth != null;
    }
  }
}
